.mat-toolbar {
  width: auto;
  margin-bottom: 20px;
}

mat-form-field {
  padding: 5px;
}

.mat-hint {
  color: red;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
  display: none;
}