<mat-nav-list appAccordion>
  <mat-list-item appAccordionLink *ngFor="let menuitem of items" routerLinkActive="selected" group="{{menuitem.state}}">
    <a style=" height: fit-content;
    display: flex;
    align-items: center;" appAccordionToggle [routerLink]="['/cafe/',menuitem.state]"
      *ngIf="menuitem.type=== 'link' && (menuitem.role===''||menuitem.role===userRole)">
      <mat-icon style="color: #8e24aa; padding-right: 35px;">{{menuitem.icon}}</mat-icon>
      <span>{{menuitem.name}}</span>
    </a>
  </mat-list-item>
</mat-nav-list>